# SERVER
IP_SERVER=localhost
PORT_SERVER=8080
TIMEOUT_SERVER=

# DB -> POSTGRES
POSTGRES_HOST=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DBNAME=
POSTGRES_PORT=5432

# DB -> REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=
